/* The navigation bar */
body {margin:0 auto;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: royalblue;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
   
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: auto;
    font-family: Impact, Charcoal, sans-serif;
}

li.name a {
    
    background-color: gold;
    border-right: solid; 
    border-right-color: royalblue;
    color: royalblue;
}

li a:hover {
    color: gold;
}

li.name a:hover {
    color: royalblue;
}

li.selected a{
    border-top: solid;
    border-top-color: gold;
    border-bottom: solid;
    border-bottom-color: gold;
    color: gold;

}

/* Main content */

div.banner {
    
    width: 1000px;
    height: 75px;
}

div.main {
  
    
   width: 500px;
    
    margin-top:auto;
    margin-left: auto;
    margin-right:auto;
    border: 2px solid black;
    /* Add a top margin to avoid content overlay */
}
